* {
    box-sizing: border-box;
  }
body {
    margin: 0 auto;
    display: flex; 
    align-items: stretch; 
    justify-content: space-between; /* Center the content horizontally */
    width: 810px;
    min-height: 1145px;
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 12px; /* Set the base font size */
    color: rgb(99, 100, 102);
    line-height: 1.2; /* Reduce line spacing */
    overflow-wrap: break-word;
}
/*Side part of the CV which contains name of the candidate, role to apply, contact info, languages, skills, certifications*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: rgb(226, 225, 225); 
    width: 340px; 
    min-height: 100%;
    height: auto;
    padding: 0; 
    margin: 0;
}
.header {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 190px;
}
.name {
    display: flex; 
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}
.name img {
    margin: 0; 
    padding: 0; 
    width: 120px; 
    height: 120px;
}
.name p {
    position: relative; 
    left: 35px; 
    margin-top: 50px;
    color: #86c6a7;
    font-weight: bold;
}
.role {
    text-align: center;
    font-size: 22px;
    margin : 0;
}
.content {
    /*margin: 0;
    padding-top: 20px;
    padding-left: 20px;*/
    height: auto;
    display: flex;
    flex-direction: column;  
    justify-content: space-around; 
    align-items: center; 
    gap: 8px;
}
.content hr {
    margin: 0;
    opacity: 0.3;
}
.side-container-name {
    display: flex; 
    align-items: center;
}
.bi {
    font-size: 20px;
}
.side-container-name p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.piece {
    width: 270px;
}
.contact {
    display: flex; 
    align-items: center;
    margin-left: 0; 
}
.contact .bi {
    font-size: 15px; 
    color: #86c6a7; 
}
.contact p {
    margin-left: 10px; 
}
.certification-description {
    margin: 20px 0;
}
.certification-description a{
    color: rgb(99, 100, 102);
}
/*Main part of the CV which contains Profile info, education, work experience*/
main {
    display: flex;
    min-height: 100%;
    height: auto;
    width: 460px; 
    flex-direction: column;  
    justify-content: space-between; 
    align-items: center;  
    margin: 0;
    padding: 0;
}
main hr {
    margin-left: 20px;
    opacity: 0.4;
}
.main-container-name {
    display: flex; 
    align-items: center;
}
.main-container-name i {
    margin-left: 0px; 
    font-size: 15px;
}
.main-container-name p {
    margin-left: 20px;
}

.one-row {
    display: flex; 
    align-items: center;
    height: 20px;
    width: 422px;
    justify-content: space-between;
}
.profession {
    font-size: 16px; 
    margin: 0;
    font-weight: 500; 
}
.organization {
    font-size: 14px;
    font-weight: 500; 
    font-style: italic; 
}
.description {
    display: flex; 
    align-items: center;
    width: 465px;
}
.vertical-line-with-circle-marker {
    margin: 10px 0;
}
  .certification-description ul {
    margin-top: 0;
  }

  .work-experience-description {
    display: flex;
    height: auto;
    flex-direction: column;  
    justify-content: flex-start;
    gap: 12px;
}
a {
    color: rgb(99, 100, 102); /* Set the color of links */
}
ul {
    margin-left: 20px;
    padding: 0;
  }
  .headline {
    font-size: 20px;
    color: rgb(99, 100, 102);
    font-weight: 600;
}
@media print {
    body {
        margin: 0 auto;
    }

    html, body {
        height: auto;
    }
}